flask==1.1.2
beautifulsoup4==4.7.1
flask-login==0.3.2
werkzeug==0.16.1
itsdangerous==1.1.0
markupsafe==1.1.1
jinja2==2.11.2
python-engineio==3.14.2
python-socketio==4.3.0
flask-socketio==4.3.2
flask-restful==0.3.8
flask-cors==3.0.10
xmltodict
future
arrow
sqlalchemy
nested-lookup==0.2.23
impacket
paramiko
capstone
keystone-engine
nyawc
prompt-toolkit
nmap
pysnmp
pywin32
tendo
